        <div class="footer">
            <div class="container">
                <div class="row-fluid">
                    <div class="header">
                        <div class="span4">
                            <div class="widget widget-footer">
                                <h3><span>Search</span></h3>
                                <form role="search" method="get" id="searchform" class="searchform" action="{{ site.baseurl }}/search.html">
                                    <div>
                                        <label class="screen-reader-text" for="s">Type what you are looking for...</label>
                                        <input type="text" value="" name="s" id="s">
                                        <input type="submit" id="searchsubmit" value="Search" class="btn btn-primary">
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="span4">
                            <div class="widget widget-footer">
                                <h3><span>Testimonials</span></h3>
                                <div class="textwidget">
                                    <i>"Yes it does what it says..Im very happy whith it,it is easy and wonderfull,…another features will be ok,just keep us updated….10 stars from me"</i> — FAtos
                                </div>
                            </div>
                        </div>

                        <div class="span4">
                            <div class="widget widget-footer">
                                <h3><span>Support</span></h3>
                                <div class="textwidget">Need some help? Try looking here first...
                                    <ul class="support-links">
                                        <li><a href="{{ site.baseurl}}/support/getting-started/">Getting Started</a>
                                        <li><a href="{{ site.baseurl}}/support/tutorials/">Tutorials</a>
                                        <li><a href="{{ site.baseurl}}/support/troubleshooting/">Troubleshooting</a></li>
                                        <li><a href="{{ site.baseurl}}/support/faqs/">FAQs</a></li>
                                        <li><a href="{{ site.baseurl}}/support/contact-us/">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <div class="bottom">
                <div class="container">
                    <div class="content alignleft">
                        <span>Copyright © 2012 - {{ site.time | date: '%Y' }} {{ site.name }}</span>
                        <span class="fcred">Original theme designed by <a href="http://wpeden.com" target="_blank">WP Eden</a></span>
                        <span class="fcred">Some of the icons used(both original and altered forms) are from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></span>
                    </div>

                    <div class="content alignright">
                        <a href="https://www.shake-se.com" target="_blank">
                            <img class="shakese-logo" src="{{ site.baseurl }}/assets/images/shake-se.png" width="40px" height="40px" title="Shake-SE.com" alt="Shake-SE.com">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <script id="dsq-count-scr" src="//clwc.disqus.com/count.js" async></script>
    </body>
</html>