        <div class="footer">
            <div class="container">
                <div class="row-fluid">
                    <div class="header">
                        <div class="span3">
                            <div class="widget widget-footer">
                                <h3><span>Social Media</span></h3>
                                <div class="textwidget">Have you liked us yet?
                                    <ul class="social-media-links">
                                        <li>
                                            <a href="https://www.facebook.com/CustomLiveWallpaperCreator" target="_blank">
                                                <img src="{{ site.baseurl }}/assets/images/facebook.png" width="32px" height="32px" alt="Like us on Facebook" original-title="Like us on Facebook">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="span3"><div class="widget widget-footer">
                            <h3><span>Testimonials</span></h3>
                            <div class="textwidget">
                                <i>"Yes it does what it says..Im very happy whith it,it is easy and wonderfull,…another features will be ok,just keep us updated….10 stars from me"</i> — FAtos
                            </div>
                        </div>
                        </div>

                        <div class="span3">
                            <div class="widget widget-footer">
                                <h3><span>Pages</span></h3>
                                <ul>
                                    <li class="page_item page-item-141"><a href="{{ site.baseurl}}/about/">About</a></li>
                                    <li class="page_item page-item-115"><a href="{{ site.baseurl}}/download/">Download</a></li>
                                    <li class="page_item page-item-171"><a href="{{ site.baseurl}}/next-release-preview/">Next Release Preview</a></li>
                                    <li class="page_item page-item-134 page_item_has_children"><a href="{{ site.baseurl}}/support/">Support</a>
                                        <ul class="children">
                                            <li class="page_item page-item-118"><a href="{{ site.baseurl}}/support/contact-us/">Contact Us</a></li>
                                            <li class="page_item page-item-136"><a href="{{ site.baseurl}}/support/faqs/">FAQs</a></li>
                                            <li class="page_item page-item-139 page_item_has_children"><a href="{{ site.baseurl}}/support/getting-started/">Getting Started</a>
                                                <ul class="children">
                                                    <li class="page_item page-item-234"><a href="{{ site.baseurl}}/support/getting-started/installing-clwc/">Installing CLWC</a></li>
                                                    <li class="page_item page-item-236"><a href="{{ site.baseurl}}/support/getting-started/running-clwc-for-the-first-time/">Running CLWC for the First Time</a></li>
                                                </ul>
                                            </li>
                                            <li class="page_item page-item-421"><a href="{{ site.baseurl}}/support/troubleshooting/">Troubleshooting</a></li>
                                            <li class="page_item page-item-418 page_item_has_children"><a href="{{ site.baseurl}}/support/tutorials/">Tutorials</a>
                                                <ul class="children">
                                                    <li class="page_item page-item-438"><a href="{{ site.baseurl}}/support/tutorials/exporting-live-wallpaper-source-code/">Exporting Live Wallpaper Source Code</a></li>
                                                    <li class="page_item page-item-420"><a href="{{ site.baseurl}}/support/tutorials/installing-an-apk-file-onto-your-phone/">Installing an APK file onto your phone</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="widget widget-footer">
                                <h3><span>Search</span></h3>
                                <form role="search" method="get" id="searchform" class="searchform" action="{{ site.baseurl }}/search.html">
                                    <div>
                                        <label class="screen-reader-text" for="s">Search for:</label>
                                        <input type="text" value="" name="s" id="s">
                                        <input type="submit" id="searchsubmit" value="Search" class="btn btn-primary">
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <div class="bottom">
                <div class="container">
                    <div class="content alignleft">
                        <span>Copyright © 2012 - {{ site.time | date: '%Y' }} {{ site.name }}</span>
                        <span class="fcred">Original theme designed by <a href="http://wpeden.com" target="_blank">WP Eden</a></span>
                        <span class="fcred">Some of the icons used(both original and altered forms) are from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></span>
                    </div>

                    <div class="content alignright">
                        <a href="https://www.shake-se.com" target="_blank">
                            <img class="shakese-logo" src="{{ site.baseurl }}/assets/images/shake-se.png" width="40px" height="40px" title="Shake-SE.com" alt="Shake-SE.com">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <script id="dsq-count-scr" src="//clwc.disqus.com/count.js" async></script>
    </body>
</html>