---
layout: default
body_class: page-template page-template-page-fullwidth page-template-page-fullwidth-php page
---
<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <div id="single-post" class="page type-page status-publish hentry">
                <div class="post page type-page status-publish hentry">
                    <div class="clear"></div>

                    <h1 class="entry-title">{{ page.title }}</h1>
                    <div class="entry-content">{{ page.content }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
